.textoMenu {  
	background-color: #1C1C1C;
	padding: 10px;
    margin: 10%;
	position: relative;
}

.menu { 
position: fixed;
	height: 50px; 
	width: 100%;
    background: rgb(15,15,15); 
    padding: 10px; 
}
 
.Logopagina { 
position: relative;
	float: left;
	border: 15%;
	height: 50px; 
	width: 20%;
}

.itensmenu { 
position: relative;
	transition: transform .1s;
	float: left;
	padding: 10px;
	align: center;
	color: white; 
	margin-top: 10px;
	background: rgb(15,15,15); 
	border: 50px 10px 50px 10px;
	text-decoration: none;
	font-size: auto; 
}

.itensmenu:hover {
	transform: scale(1.1); 
}

.botaoSair {
	transition: transform .3s;
	float: right;
	padding: 10px;
	align: center;
	color: white; 
	margin-top: 10px;
	margin-right: 40px;
	background: rgb(15,15,15); 
	text-decoration: none;
	font-size: auto; 
}

.botaoSair:hover { 
	background: #8B0000;  
	transform: scale(1.1); 
}

.itensmenu:hover { 
	background: #8B0000;  
}

.fundo {
	background: url('../ImagensSite/bg_.jpg') center center no-repeat fixed; 
  background-size: 100% 100%;
background-repeat: no-repeat; 
}

.Filme_em_Destaque{
	width: 100%;
	height: auto;
	max-height: 500px;  
}

.lista_de_Filmes { 
	width: 100%;
	height: auto;
}



.textos { 
font-family:Courier New,Courier,monospace;
	padding: 10px; 
	color: white; 
	width: 100%;
	height: 100%;
	margin: 10px -100px 10px 10px; 
	text-decoration: none;
	font-size: auto; 
	text-align: center;
	font-size: 20; 	
}

 
 
 
.capaFilmes
{
	transition: transform .3s;
	width: 150px;
	height: 242px;
	border-radius: 8px;
	text-decoration: none;
	margin: 10px ; 
} 

.capaFilmes:hover
{ 
	transform: scale(1.2);
} 



#back-to-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
#back-to-down {
  position: fixed;
  bottom: 10px;
  left: 60px;
}




.botaoSurpreenda_me {
	transition: transform .3s; 
	padding: 20px;
	align: center;
	color: white; 
	margin-top: px; 
	background: rgb(15,15,15); 
	text-decoration: none;
	font-size: auto; 
	
}

.botaoSurpreenda_me:hover { 
transform: scale(1.2);
background: #8B0000;  
}











